{% extends "layout.html" %}

{% block main %}

<form action="{{ url_for('update') }}" method="post">
    <input type="hidden" name="password_id" value="{{ password_id }}">
    <label for="service_name">Service Name</label><br>
    <input type="text" name="service_name" id="service_name" value="{{ service_name }}"><br>
    <label for="password">Password</label><br>
    <input type="password" name="password" id="password" value="{{ password }}"><br>
    <button type="submit">Update</button>
</form>

{% endblock %}